/* ---СЕКЦИЯ ABOUT--- */
.about {
		position: relative;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: rgba($mainColor,.02);
		padding: 0;
		@include tablets {
			align-items: flex-start;
			height: auto;
		}
		@include desktop {
			height: 1000px;
			align-items: center;
		}
	
	&__title {
		position: relative;
		display: block;
		width: 100%;
		margin: 55px 0 0 15px;
		padding-bottom: 23px;
		font-size: 30px;
		font-weight: 700;
		&::after {
			position: absolute;
			display: block;
			content: '';
			bottom: 0;
			left: 0;
			height: 3px;
			width: 45px;
			background-color: $mainColor;
			@include desktop {
				@include centered(x)
				width: 60px;
			}
		}
		@include tablets {
			font-size: 35px;
		}
		@include desktop {
			width: auto;
			margin: 55px 0 0;
		}
	}
	&__content {
		position: relative;
		height: 100%;
		width: auto;
		display: flex;		
		justify-content: center;
		align-items: center;
		@include tablets {
			width: calc(100% - 180px);	
		}
		
		@include desktop {
			width: 1170px;
			padding: 0;
			z-index: 5;
		}		
	}
	&__items {
		position: relative;
		height: 100%;
		width: 100%;
		max-width: 600px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 33px 15px 60px;
		@include tablets {
			flex-direction: column;
			justify-content: center;
			margin: 45px 0 80px 20px;
			height: auto;
			width: auto;
			max-width: none;
		}
		@include desktop {
			flex-direction: row;
			justify-content: space-between;
			max-width: 1170px;
			height: auto;
			flex-wrap: wrap;
			margin: 30px 0;
		}
		
	}
	&__item {
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 12px 0;
		
		@include tablets {
			// width: 33%;
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
		}
		@include desktop {
			width: 370px;
			// box-shadow: 5px 5px 20px rgba(black,.1);
			padding: 0;
		}
		&:nth-child(1) {
			margin-right: 100px;

		}
		&:nth-child(3) {
			@include desktop {
				order: 1;
				.about__point {
					transform: rotateY(180deg);
					left: -140px;
				}
			}
		}	
		&:nth-child(2) {
			@include desktop {
				.about__point {
					transform: rotateY(180deg);
					left: -140px;
				}
			}
		}
	}
	&__point {
		position: relative;
		display: none;
		@include tablets {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			width: 70px;
			height: 50px;
		}
		@include desktop {
			position: absolute;
			display: flex;
			align-items: flex-end;
			width: 285px;
			right: -140px;
			// justify-content: flex-end;
			// align-items: flex-end;
		}
	}
	&__pointer {
		@include tablets {
			position: relative;
			height: 50px;
			width: 100%;
			& img {
				height: 35px;
				width: 35px;
				@include centered(y);
			}
		}
		@include desktop {
			position: relative;
			display: flex;
			height: 50px;
			width: 50px;
			justify-content: center;
			align-items: center;
		}
	}
	&__line {
		@include tablets {
			@include centered;
			height: 1px;
			width: 40px;
			background: linear-gradient(to left, $subColor, $contrColor 70%);
		}
		@include desktop {
			width: 255px;
			left: auto;
			background: linear-gradient(to right, $subColor, $contrColor 70%);
		}

	}

	&__main {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1 0;
	}
	&__heading {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: auto;
		@include desktop {
			flex-direction: column;
			justify-content: flex-start;
		}

	}
	&__img {
		position: relative;
		align-self: flex-start;
		// height: 56px;
		// width: 56px;
		margin-right: 22px;
		@include desktop {
			margin: 0;
			align-self: center;
			margin-bottom: 20px;
		}
	}
	&__text {
		position: relative;
		display: flex;
		flex-direction: column;
		@include tablets {
		// margin-top: 15px;
		}
	}
	&__name{
		position: relative;
		margin: 0;
		font-size: 20px;
		@include desktop {
			// font-size: 24px;
		}	
	}
	&__desc {
		position: relative;
		display: block;
		font-family: Acrom;
		font-weight: 300;
		font-size: 13px;
		line-height: 22px;
		margin: 15px 0 0;
		@include tablets {
			max-width: 600px;
			}
		@include desktop {
			font-size: 14px;
			line-height: 24px;
			margin: 18px 0 0;
			text-align: center;
		}
	}
	&__advanced {
		display: none;
		@include desktop {
			position: relative;
			display: block;
			font-family: Acrom;
			font-size: 15px;
			margin: 10px 0 0;
			line-height: 24px;
		}
	}
	&__image {
		display: none;
		@include tablets {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 850px;
			width: 520px;
			// transform: scale(1.4);
			right: -315px;
			top: 100px;

		}
		img {
			height: 100%;
			width: 100%;
			z-index: 1;
		}
		@include desktop {
			@include centered;
			height: 680px;
			width: 415px;
			top: 56%;
			z-index: 1;
		}
	}
	&__logo {
		@include centered;
		height: 65px;
		width: 220px;
		transform: translate(-50%, -220%);
		z-index: 2;
		& img {
			height: 100%;
			width: 100%;
		}
		@include desktop {
			height: 50px;
			width: 165px;
			top: 42%;

		}

	}
	&__slogan {
		@include centered;
		display: inline-block;
		z-index: 2;
		font-size: 30px;
		font-weight: 700;
		text-align: center;
		color: $backColor;
		&:first-line {
			font-weight: normal;
		}
		@include desktop {
			font-size: 20px;
			top: 45%;
		}
	}
	&__start {
		display: none;
		@include desktop {
			@include centered(x)
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 10;
			bottom: 200px;
			width: 195px;
			height: 45px;
			border-radius: 5px;
			border: 1px solid $backColor;
			color: $backColor;
			background: none;
			font-size: 15px;
			font-family: Acrom;
			font-weight: 700;
			cursor: pointer;
			transition: .3s;
			&:hover {
				box-shadow: 0 0 5px $mainColor;
			}
			&:focus {
				box-shadow: inset 0 0 10px $backColor;
				outline: none;
			}
		}
	}
}