/* ---СЕКЦИЯ NEWS--- */
.news{
	position: relative;
	order: 30;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: $backColor;
	padding: 0;
	@include tablets {
		align-items: flex-start;
		height: auto;
	}
	@include desktop {
		height: auto;
		align-items: center;
	}
	&__title {
		position: relative;
		display: flex;
		width: 100%;
		padding-bottom: 19px;
		font-size: 30px;
		font-weight: 700;
		&::after {
			position: absolute;
			display: block;
			content: '';
			bottom: 0;
			left: 0;
			height: 3px;
			width: 45px;
			background-color: $mainColor;
			@include tablets {
				width: 55px;
			}
			@include desktop {
				width: 60px;
			}
		}
		@include tablets {
			margin: 0;
			width: auto;
			font-size: 35px;
		}
		@include desktop {
			width: auto;
			margin: 0;
			font-size: 46px;
			padding-bottom: 13px;
		}
	}
	&__all {
		position: relative;
		width: 100%;
		margin-top: 12px;
		display: flex;
		font-family: Acrom;
		font-weight: normal;
		font-size: 15px;
		justify-content: flex-start;
		color: $contrColor;
		& a {
			color: $contrColor;
			&:hover {
				text-decoration: none;
			}
		}
		@include tablets {
			position: absolute;
			width: auto;
			top: 35px;
			right: 15px;
			margin-top: 0px;

		}
		@include desktop {			
			top: 45px;
			
		}

		&Text {
			margin-right: 18px;
			letter-spacing: 1px;
			border-bottom: 1px solid rgba($contrColor,.1);
		}
	}
	&__content {
		position: relative;
		margin: 55px 15px;
		width: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		@include tablets {
			display: flex;
			width: 100%;
			padding: 0 15px;
			margin: 55px 0;			
		}
		@include desktop {
			width: 1170px;
			margin: 80px 0 0;
		}
	}
	&__items {
		position: relative;
		@include tablets {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-top: 18px;
		}
	}
}
.article {
	position: relative;
	margin: 30px 0;
	@include tablets {
		display: none;
		width: 32%;
	}
	@include desktop {
		width: 23%;
	}
	&:nth-child(1) {
		@include tablets {
			display: block;
		}
	}
	&:nth-child(2) {
		@include tablets {
			display: block;
		}
	}
	&:nth-child(3) {
		@include tablets {
			display: block;
		}
	}
	&:nth-child(4) {
		@include desktop {
			display: block;
		}
	}
	

	&__image {
		position: relative;
		width: 100%;
		& img {
			width: 100%;
			object-fit: cover;
			@include tablets {
				height: 100%;
			}

		}
		@include tablets {
			height: 20vw;
		}
		@include desktop {
			height: 180px;
		}


	}
	&__name {
		position: relative;
		margin: 18px 0;
		display: inline-block;
		font-size: 20px;
		font-weight: 700;
		// letter-spacing: 1px;
		&Main {
			display: inline;

		}
		&Add {
			display: inline;
			@include tablets {
				display: none;
			}
		}

	}
	&__date {
		position: relative;
		font-family: Acrom;
		font-size: 13px;
		font-weight: 300;

	}
}
