/* ---СЕКЦИЯ NEWS--- */
.news{
	position: relative;
	order: 30;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: $backColor;
	padding: 0;
	@include tablets {
		align-items: flex-start;
		height: auto;
	}
	@include desktop {
		height: auto;
		align-items: center;
	}
	&__title {
		position: relative;
		display: flex;
		width: 100%;
		padding-bottom: 19px;
		margin: 0 15px;
		font-size: 30px;
		font-weight: 700;
		&::after {
			position: absolute;
			display: block;
			content: '';
			bottom: 0;
			left: 0;
			height: 3px;
			width: 45px;
			background-color: $mainColor;
			@include tablets {
				width: 55px;
			}
			@include desktop {
				width: 60px;
			}
		}
		@include tablets {
			margin: 0 15px;
			width: auto;
			font-size: 35px;
		}
		@include desktop {
			width: auto;
			margin: 0 15px;
			font-size: 46px;
			padding-bottom: 13px;
		}
	}
	&__all {
		position: relative;
		width: 100%;
		margin-top: 12px;
		padding: 0 15px;
		display: flex;
		font-family: Acrom;
		font-weight: normal;
		font-size: 15px;
		justify-content: flex-start;
		color: $contrColor;
		& a {
			color: $contrColor;
			&:hover {
				text-decoration: none;
			}
		}
		@include tablets {
			position: absolute;
			width: auto;
			top: 35px;
			right: 15px;
			margin-top: 0px;

		}
		@include desktop {			
			top: 45px;
			
		}

		&Text {
			margin-right: 18px;
			letter-spacing: 1px;
			border-bottom: 1px solid rgba($contrColor,.1);
		}
	}
	&__content {
		position: relative;
		width: 100%;
		margin: 55px 0 90px;
		// width: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		@include tablets {
			display: flex;
			width: 100%;
			padding: 0 15px;
			margin: 55px 0;
		}
		@include desktop {
			width: 1170px;
			margin: 80px 0 0;
		}
	}
	&__items {
		position: relative;
		@include tablets {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-top: 18px;
		}
	}
}

