/* ---КОМПОНЕНТ ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ--- */
.access {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	margin: 7px 0 7px 37px;

	&__politic {
		position: relative;
		cursor: pointer;
		font-size: 14px;
		font-family: "Acrom";
		line-height: 24px;
		&:after {
			position: absolute;
			content: "";
			left: 0;
			bottom: 0;
			height: 1px;
			width: 100%;
			background: #313131;
			transition: all 0.4s;
		}
		&:hover{
			&:after{
				background: #64b3b6;
			}
		}
	}
	&__created {
		position: relative;
		cursor: pointer;
		font-size: 14px;
		font-family: "Acrom";
		color: rgb(109, 193, 244);
		line-height: 24px;
		display: none;
		@include tablets {
			display: block;
		}
	}
	
	@include tablets{
		margin: auto;
		justify-content: space-between;
	}
	@include desktop{
		&__politic {
			order: 2;
			font-size: 15px;
		}
		&__created {
			order: 1;
			font-size: 15px;
		}
	}
}

