.address {
	position: relative;
	display: flex;
	flex-direction: column;
	
	&__title {
		font-size: 14px;
		font-family: "Acrom";
		color: rgb(146, 146, 146);
		margin: 0;
	}
	& span {
		font-size: 14px;
		font-family: "Acrom";
		color: $backColor;
		line-height: 28px;
	}
	@include tablets{
		max-width: 210px;
		margin-left: 5px;
		& span {
			line-height: 20px;
		}
		&__title {
			margin-bottom: 5px;
		}
	}
	@include desktop{
		max-width: 240px;
		&__title {
			font-size: 15px;
		}
		& span {
			font-size: 15px;
		}
	}
}
