/* ---КОМПОНЕНТ БУРГЕР--- */
.burger {
	margin: 0 auto;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: relative;
	&__line {
		padding: 0;
		width: 100%;
		height:10%;
		background-color: $mainColor;
		display: block;
		border-radius: 1.5px;
		transition: all 0.4s ease-in-out;
		position: absolute;
	}
	.line1 {
		top: 0;
	}

	.line2,
	.line3 {
		top: calc(50% - 1px);
	}

	.line3 {
		right: 0;
	}

	.line4 {
		bottom: 0;
	}
	&.active {
		.line1 {
			transform: rotate(45deg);
			transform-origin: 10%;
			width: 150%;
		}

		.line2 {
			transform: translateX(-150%);
			background-color: transparent;
		}

		.line3 {
			transform: translateX(150%);
			background-color: transparent;
		}

		.line4 {
			transform-origin: 10%;
			transform: rotate(-45deg);
			width: 150%;
		}
	}
}
/* HAMBURGER 1 */
// .hamburger1 > .bar1{
// 	transform: rotate(45deg);
// 	transform-origin: 5%;
// 	width: 41px
// }

// .hamburger1 > .bar2 {
// 	transform: translateX(-40px);
// 	background-color: transparent;
// }

// .hamburger1 > .bar3 {
// 	transform: translateX(40px);
// 	background-color: transparent;
// }

// .hamburger1 > .bar4 {
// 	transform-origin: 5%;
// 	transform: rotate(-45deg);
// 	width: 41px;
// }
