/* ---КОМПОНЕНТ КОНТАКТЫ--- */
/* ---КОМПОНЕНТ КОНТАКТЫ--- */
.contacts {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	white-space: nowrap;
	height: 65px;
	& .order {
		display: none;
	}
	&__phone {
		position: relative;
		display: flex;
		align-items: center;
		margin-right: 5px;

		order: 3;

		& a {
			font-family: "Circe";
			color: rgb(34, 34, 34);
			font-weight: bold;
			text-decoration: none;
			font-size: 23px;
			color: $mainColor;
		}

		@include tablets {
			margin-right: 10px;
			margin-left: auto;
		}
		@include desktop {
			margin: 0;
		}
	}

	&__social {
		position: relative;
		display: flex;
		align-items: center;
		order: 4;
		@include tablets {
			margin-right: 40px;
		}
		@include desktop {
			margin-right: 0;
		}
	}
	@include desktop {
		max-width: 315px;
		flex-wrap: wrap;
		justify-content: flex-start;

		& .order {
			display: block;
			order: 16;
		}
	}
	&--footer {
		justify-content: flex-start;
		height: 55px;
		width: 100%;
		& a {
			color: $backColor;
		}
		& .order {
			display: none;
		}
		@include tablets {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;
			margin: 0 30px;
			max-width: 175px;
			& .social {
				margin-left: -7px;
			}
			& .contacts__phone {
				margin: 0;
			}
			& .contacts__social {
				margin: 0;
			}
		}
		@include desktop {
			margin: 0 5px;
			max-width: none;
			flex-wrap: nowrap;
			justify-content: space-between;
			& .contacts__tophone {
				font-size: 27px;
			}
			& .social__link {
				width: 25px;
				height: 25px;
			}
		}
	}
}
