/* ---ПОДВАЛ СТРАНИЦЫ--- */
.content{
	flex: 1 0 auto;
}
footer{
	position: relative;
	background-color: $mainColor;
	color: $backColor;
	flex: 0 0 auto;
	overflow: hidden;
}
.footer{
	position: relative;
	display: flex;
	color: $backColor;
	&__content {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 35px 15px 0;
		@include tablets{
			flex-direction: row;
		}
		@include desktop	{
			position: relative;
			width: 1170px;
			margin: auto;
		}
	}
	&__info{
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		position: relative;
		width: 145px;
		height: 65px;
		display: flex;
		align-items: center;

		& img {
			width: 100%;
		}
		@include tablets{
			margin-right: 12px;
			width: 140px;
			height: 80px;
		}
	}
	&__contacts{
		position: relative;
		margin-bottom: 2px;
	}
	&__address{
		position: relative;
		margin-bottom: 10px;
	}
	&__download{
		position: relative;
	}
	&__access{
		position: relative;
	}
}