.navlist {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	max-height: calc(100vh - 259px);
	@include tablets{
		max-height: calc(100vh - 124px);
	}
	@include desktop{
		max-height: none;
		overflow-y: auto;
	}
	&__item {
		position: relative;
		flex-shrink: 0;
		cursor: pointer;
		padding: 15px 20px;
		border-bottom: 1px solid #f1f1f1;
		&:last-child{
			display: none;
		}
		@include desktop {
			padding: 15px 0;
			border-bottom: none;
		}
	}
	&--footer{
		
		margin: 20px 0;
		& .navlist__item {
			padding: 6px 0;
			border-bottom: none;
			&:last-child{
				display: block;
			}
		}
	}
}
