.slick {
	&-arrow {
		position: absolute;
		display: none !important;
		z-index: 20;
		width: 100%;
		bottom: 20px;
		width: 20px;
		height: 20px;
		@include tablets {
			display: block !important;
		}
		@include desktop {
			bottom: 50px;
		}
	}
	&-list {
		overflow: visible;
		outline: none;
		border: none;
	}
	&-prev {
		left: 0;
		@include desktop {
			left: calc(50% - 250px);
		}
	}
	&-next {
		right: 0;
		transform: scale(-1, 1);
		@include desktop {
			right: calc(50% - 250px);
		}
	}
	&-dots {
		position: absolute;
		width: 100%;
		bottom: 23px;
		display: flex;
		justify-content: center;
		@include desktop {
			bottom: 45px;
		}
		& button {
			display: none;
		}
		& li {
			position: relative;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: $backColor;
			border: 0px solid $backColor;
			margin: 0 15px;
			padding: 2px;
			transition: all 0.4s;
			@include desktop {
				margin: 0 20px;
			}
			&.slick-active {
				width: 13px;
				height: 13px;
				background: transparent;
				border: 2px solid $backColor;
			}
		}
	}
}
