/* ---НАСТРОЙКА ШРИФТОВ СТРАНИЦЫ--- */

@font-face {
	font-family: 'Acrom';
	src: local('Acrom Regular'), local('Acrom-Regular'),
			url('../fonts/Acrom-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: local('Circe Regular'), local('Circe-Regular'),
			url('../fonts/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

