@charset "UTF-8";
/* ---БАЗОВАЯ НАСТРОЙКА СТРАНИЦЫ--- */
body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: white;
  color: #101010;
  overflow-x: hidden;
  font-family: "Circe";
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ---НАСТРОЙКА ШРИФТОВ СТРАНИЦЫ--- */
@font-face {
  font-family: "Acrom";
  src: url("./fonts/Acrom-Thin.eot");
  src: local("☺"), url("./fonts/Acrom-Thin.woff") format("woff"), url("./fonts/Acrom-Thin.ttf") format("truetype"), url("./fonts/Acrom-Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("./fonts/Acrom-Light.eot");
  src: local("☺"), url("./fonts/Acrom-Light.woff") format("woff"), url("./fonts/Acrom-Light.ttf") format("truetype"), url("./fonts/Acrom-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("./fonts/Acrom-Regular.eot");
  src: local("☺"), url("./fonts/Acrom-Regular.woff") format("woff"), url("./fonts/Acrom-Regular.ttf") format("truetype"), url("./fonts/Acrom-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("./fonts/Acrom-Medium.eot");
  src: local("☺"), url("./fonts/Acrom-Medium.woff") format("woff"), url("./fonts/Acrom-Medium.ttf") format("truetype"), url("./fonts/Acrom-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("./fonts/Acrom-Bold.eot");
  src: local("☺"), url("./fonts/Acrom-Bold.woff") format("woff"), url("./fonts/Acrom-Bold.ttf") format("truetype"), url("./fonts/Acrom-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("./fonts/Acrom-ExtraBold.eot");
  src: local("☺"), url("./fonts/Acrom-ExtraBold.woff") format("woff"), url("./fonts/Acrom-ExtraBold.ttf") format("truetype"), url("./fonts/Acrom-ExtraBold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("./fonts/Circe-Thin.eot");
  src: local("☺"), url("./fonts/Circe-Thin.woff") format("woff"), url("./fonts/Circe-Thin.ttf") format("truetype"), url("./fonts/Circe-Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("./fonts/Circe-ExtraLight.eot");
  src: local("☺"), url("./fonts/Circe-ExtraLight.woff") format("woff"), url("./fonts/Circe-ExtraLight.ttf") format("truetype"), url("./fonts/Circe-ExtraLight.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("./fonts/Circe-Light.eot");
  src: local("☺"), url("./fonts/Circe-Light.woff") format("woff"), url("./fonts/Circe-Light.ttf") format("truetype"), url("./fonts/Circe-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("./fonts/Circe-Regular.eot");
  src: local("☺"), url("./fonts/Circe-Regular.woff") format("woff"), url("./fonts/Circe-Regular.ttf") format("truetype"), url("./fonts/Circe-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("./fonts/Circe-Bold.eot");
  src: local("☺"), url("./fonts/Circe-Bold.woff") format("woff"), url("./fonts/Circe-Bold.ttf") format("truetype"), url("./fonts/Circe-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("./fonts/Circe-ExtraBold.eot");
  src: local("☺"), url("./fonts/Circe-ExtraBold.woff") format("woff"), url("./fonts/Circe-ExtraBold.ttf") format("truetype"), url("./fonts/Circe-ExtraBold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

/* ---ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ INDEX--- */
.section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter .4s;
}

.section__title {
  text-transform: uppercase;
}

/* ---СЕКЦИЯ PREVIEW--- */
.preview {
  position: relative;
  width: 100%;
  background: radial-gradient(circle farthest-corner at 120% 60%, #62daff, #1a3f6c);
  order: 10;
  overflow: hidden;
}

.preview__slider {
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .preview__slider {
    width: 716px;
    margin: auto;
  }
}

@media (min-width: 1170px) {
  .preview__slider {
    width: 1170px;
    margin: auto;
  }
}

.previewSlick {
  position: relative;
  width: 100%;
}

.previewFree {
  position: relative;
  width: 100%;
}

.previewFree__content {
  position: relative;
  padding: 210px 15px 85px;
}

.previewFree__bg {
  position: absolute;
  margin-top: -110px;
  margin-left: -10px;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .previewFree__bg {
    margin-top: -170px;
    margin-left: auto;
    margin-right: -170px;
    width: 560px;
    height: 560px;
  }
}

@media (min-width: 1170px) {
  .previewFree__bg {
    margin-top: -260px;
    margin-left: auto;
    margin-right: -365px;
    width: 860px;
    height: 860px;
  }
}

.previewFree img {
  position: absolute;
  transform: scale(-1, 1);
  height: 70%;
  bottom: 0;
  left: 0;
}

@media (min-width: 768px) {
  .previewFree img {
    transform: scale(1, 1);
  }
}

.previewFree svg {
  position: absolute;
  z-index: 10;
  fill: white;
  width: 65%;
  bottom: 16%;
  left: 0;
  margin: 0 5px;
}

@media (min-width: 768px) {
  .previewFree svg {
    left: auto;
    right: 0;
  }
}

.previewFree__title {
  position: relative;
  font-size: 30px;
  font-family: "Circe";
  color: white;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 25px;
}

.previewFree__title strong {
  font-weight: bold;
  color: #00c2f6;
}

.previewFree__subtitle {
  position: relative;
  font-size: 15px;
  font-family: "Acrom";
  color: white;
  margin-bottom: 20px;
  padding-left: 15px;
}

.previewFree__subtitle:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 100%;
  width: 1px;
  background: white;
}

.previewFree__more {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  transition: all .4s;
}

.previewFree__more img {
  position: relative;
  height: 15px;
  width: 15px;
}

.previewFree__more span {
  font-size: 14px;
  padding-left: 10px;
  font-family: "Acrom";
  color: white;
}

.previewFree__more svg {
  position: relative;
  padding: 5px 0 0;
  width: 10px;
  fill: none;
  stroke: white;
  stroke-width: 3px;
  transform: scale(1, 1);
  transition: transform .4s;
}

.previewFree__more.active {
  display: flex;
  margin-bottom: 5px;
}

.previewFree__more.active svg {
  transform: scale(1, -1);
}

.previewFree__more.active ~ .previewFree__text {
  display: block;
  opacity: 1;
  top: 0;
}

.previewFree__text {
  position: relative;
  top: -100px;
  display: none;
  opacity: 0;
  font-size: 13px;
  font-family: "Acrom";
  color: white;
  margin-bottom: 10px;
  transition: all .4s;
}

.previewFree__get {
  position: relative;
  margin: auto;
  text-align: center;
  font-size: 15px;
  font-family: "Acrom";
  color: white;
  background: transparent;
  font-weight: bold;
  border-width: 1px;
  border-color: #00c2f6;
  border-style: solid;
  border-radius: 4px;
  width: 343px;
  height: 44px;
}

/* ---СЕКЦИЯ ADVANTAGESS--- */
.advantages {
  position: relative;
  order: 15;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white !important;
  padding: 0;
}

@media (min-width: 768px) {
  .advantages {
    height: 360px;
  }
}

@media (min-width: 1170px) {
  .advantages {
    height: 340px;
  }
}

.advantages__content {
  position: relative;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1170px) {
  .advantages__content {
    width: 1170px;
    padding: 0;
  }
}

.advantages__items {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 56px 15px;
}

@media (min-width: 768px) {
  .advantages__items {
    flex-direction: row;
    justify-content: center;
    margin: 73px 20px;
    height: auto;
    width: auto;
    max-width: none;
  }
}

@media (min-width: 1170px) {
  .advantages__items {
    flex-direction: row;
    max-width: 1170px;
    height: calc(100% - 60px);
    margin: 30px 0;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.advantages__item:nth-child(2) {
  margin: 30px 0;
}

@media (min-width: 768px) {
  .advantages__item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .advantages__item:nth-child(2) {
    margin: 0 69px;
  }
}

@media (min-width: 1170px) {
  .advantages__item {
    width: 370px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    padding: 35px;
  }
}

@media (min-width: 1170px) and (min-width: 1170px) {
  .advantages__item:first-child .advantages__desc {
    display: none;
  }
}

@media (min-width: 1170px) {
  .advantages__item:nth-child(2) {
    width: 370px;
    margin: 0 30px;
  }
  .advantages__item:last-child {
    width: 370px;
  }
}

@media (min-width: 1170px) {
  .advantages__item::after {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    left: 35px;
    height: 2px;
    width: 60px;
    background-color: #101010;
  }
}

.advantages__img {
  position: relative;
  align-self: flex-start;
  height: 56px;
  width: 56px;
  margin-right: 22px;
}

.advantages__text {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .advantages__text {
    margin-top: 21px;
  }
}

.advantages__title {
  position: relative;
  margin: 0;
  font-size: 20px;
}

@media (min-width: 1170px) {
  .advantages__title {
    font-size: 24px;
  }
}

.advantages__desc {
  position: relative;
  display: block;
  font-family: Acrom;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  margin: 19px 0 0;
}

@media (min-width: 1170px) {
  .advantages__desc {
    font-size: 15px;
    line-height: 24px;
    margin: 10px 0 0;
  }
}

.advantages__advanced {
  display: none;
}

@media (min-width: 1170px) {
  .advantages__advanced {
    position: relative;
    display: block;
    font-family: Acrom;
    font-size: 15px;
    margin: 10px 0 0;
    line-height: 24px;
  }
}

/* ---СЕКЦИЯ ABOUT--- */
.about {
  position: relative;
  order: 20;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(16, 16, 16, 0.02);
  padding: 0;
}

@media (min-width: 768px) {
  .about {
    align-items: flex-start;
    height: auto;
  }
}

@media (min-width: 1170px) {
  .about {
    height: 1000px;
    align-items: center;
  }
}

.about__title {
  position: relative;
  display: block;
  width: 100%;
  margin: 55px 0 0 15px;
  padding-bottom: 23px;
  font-size: 30px;
  font-weight: 700;
}

.about__title::after {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  left: 0;
  height: 3px;
  width: 45px;
  background-color: #101010;
}

@media (min-width: 1170px) {
  .about__title::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
  }
}

@media (min-width: 768px) {
  .about__title {
    font-size: 35px;
  }
}

@media (min-width: 1170px) {
  .about__title {
    width: auto;
    margin: 55px 0 0;
  }
}

.about__content {
  position: relative;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .about__content {
    width: calc(100% - 180px);
  }
}

@media (min-width: 1170px) {
  .about__content {
    width: 1170px;
    padding: 0;
    z-index: 5;
  }
}

.about__items {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 33px 15px 60px;
}

@media (min-width: 768px) {
  .about__items {
    flex-direction: column;
    justify-content: center;
    margin: 45px 0 80px 20px;
    height: auto;
    width: auto;
    max-width: none;
  }
}

@media (min-width: 1170px) {
  .about__items {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1170px;
    height: auto;
    flex-wrap: wrap;
    margin: 30px 0;
  }
}

.about__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 12px 0;
}

@media (min-width: 768px) {
  .about__item {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media (min-width: 1170px) {
  .about__item {
    width: 370px;
    padding: 0;
  }
}

.about__item:nth-child(1) {
  margin-right: 100px;
}

@media (min-width: 1170px) {
  .about__item:nth-child(3) {
    order: 1;
  }
  .about__item:nth-child(3) .about__point {
    transform: rotateY(180deg);
    left: -140px;
  }
}

@media (min-width: 1170px) {
  .about__item:nth-child(2) .about__point {
    transform: rotateY(180deg);
    left: -140px;
  }
}

.about__point {
  position: relative;
  display: none;
}

@media (min-width: 768px) {
  .about__point {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70px;
    height: 50px;
  }
}

@media (min-width: 1170px) {
  .about__point {
    position: absolute;
    display: flex;
    align-items: flex-end;
    width: 285px;
    right: -140px;
  }
}

@media (min-width: 768px) {
  .about__pointer {
    position: relative;
    height: 50px;
    width: 100%;
  }
  .about__pointer img {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 1170px) {
  .about__pointer {
    position: relative;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .about__line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    width: 40px;
    background: linear-gradient(to left, #1e2d59, #00c2f6 70%);
  }
}

@media (min-width: 1170px) {
  .about__line {
    width: 255px;
    left: auto;
    background: linear-gradient(to right, #1e2d59, #00c2f6 70%);
  }
}

.about__main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.about__heading {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

@media (min-width: 1170px) {
  .about__heading {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.about__img {
  position: relative;
  align-self: flex-start;
  margin-right: 22px;
}

@media (min-width: 1170px) {
  .about__img {
    margin: 0;
    align-self: center;
    margin-bottom: 20px;
  }
}

.about__text {
  position: relative;
  display: flex;
  flex-direction: column;
}

.about__name {
  position: relative;
  margin: 0;
  font-size: 20px;
}

.about__desc {
  position: relative;
  display: block;
  font-family: Acrom;
  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
  margin: 15px 0 0;
}

@media (min-width: 768px) {
  .about__desc {
    max-width: 600px;
  }
}

@media (min-width: 1170px) {
  .about__desc {
    font-size: 14px;
    line-height: 24px;
    margin: 18px 0 0;
    text-align: center;
  }
}

.about__advanced {
  display: none;
}

@media (min-width: 1170px) {
  .about__advanced {
    position: relative;
    display: block;
    font-family: Acrom;
    font-size: 15px;
    margin: 10px 0 0;
    line-height: 24px;
  }
}

.about__image {
  display: none;
}

@media (min-width: 768px) {
  .about__image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    width: 520px;
    right: -315px;
    top: 100px;
  }
}

.about__image img {
  height: 100%;
  width: 100%;
  z-index: 1;
}

@media (min-width: 1170px) {
  .about__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 680px;
    width: 415px;
    top: 56%;
    z-index: 1;
  }
}

.about__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65px;
  width: 220px;
  transform: translate(-50%, -220%);
  z-index: 2;
}

.about__logo img {
  height: 100%;
  width: 100%;
}

@media (min-width: 1170px) {
  .about__logo {
    height: 50px;
    width: 165px;
    top: 42%;
  }
}

.about__slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  z-index: 2;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.about__slogan:first-line {
  font-weight: normal;
}

@media (min-width: 1170px) {
  .about__slogan {
    font-size: 20px;
    top: 45%;
  }
}

.about__start {
  display: none;
}

@media (min-width: 1170px) {
  .about__start {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    bottom: 200px;
    width: 195px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background: none;
    font-size: 15px;
    font-family: Acrom;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
  }
  .about__start:hover {
    box-shadow: 0 0 5px #101010;
  }
  .about__start:focus {
    box-shadow: inset 0 0 10px white;
    outline: none;
  }
}

/* ---СЕКЦИЯ REVIEWS--- */
.reviews {
  order: 25;
}

.reviews__title {
  font-size: 12px;
}

@media (min-width: 1170px) {
  .reviews__title {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .reviews__title {
    font-size: 16px;
  }
}

/* ---СЕКЦИЯ NEWS--- */
.news {
  order: 30;
}

.news__title {
  font-size: 12px;
}

@media (min-width: 1170px) {
  .news__title {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .news__title {
    font-size: 16px;
  }
}

/* ---СЕКЦИЯ PARTNERS--- */
.partners {
  order: 35;
}

.partners__title {
  font-size: 12px;
}

@media (min-width: 1170px) {
  .partners__title {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .partners__title {
    font-size: 16px;
  }
}

.slick-arrow {
  position: absolute;
  display: none !important;
  z-index: 20;
  width: 100%;
  bottom: 20px;
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .slick-arrow {
    display: block;
  }
}

.slick-list {
  overflow: visible;
  outline: none;
  border: none;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
  transform: scale(-1, 1);
}

.slick-dots {
  position: absolute;
  width: 100%;
  bottom: 23px;
  display: flex;
  justify-content: center;
}

.slick-dots button {
  display: none;
}

.slick-dots li {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  border: 0px solid white;
  margin: 0 15px;
  padding: 2px;
  transition: all 0.4s;
}

.slick-dots li.slick-active {
  width: 13px;
  height: 13px;
  background: transparent;
  border: 2px solid white;
}

/* ---КОМПОНЕНТ МЕНЮ НАВИГАЦИИ--- */
.navigation {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 135px;
  height: calc(100% - 135px);
  background: white;
  display: none;
  display: flex;
  flex-direction: column;
  font-family: "Acrom";
  font-size: 16px;
  transform: translate3d(110%, 0, 0);
  transition: transform 0.4s;
}

.navigation__content {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1170px) {
  .navigation__content {
    width: 1170px;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .navigation {
    top: 0;
    height: 100%;
  }
}

@media (min-width: 1170px) {
  .navigation {
    width: 100%;
    top: 80px;
    height: 55px;
    display: flex;
    transform: translate3d(0%, 0, 0);
  }
  .navigation .navlist {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation__close {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  font-size: 60px;
  width: 20px;
  height: 20px;
  color: #101010;
  transition: color 0.4s;
}

.navigation__close:hover {
  color: #00c2f6;
}

.navigation--botline:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 1px;
  width: 100%;
  background: rgba(16, 16, 16, 0.2);
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.navigation.active {
  display: flex;
  transform: translate3d(0%, 0, 0);
}

.navigation.active ~ .content {
  filter: contrast(0.05);
}

@media (min-width: 1170px) {
  .navigation.active ~ .content {
    filter: none;
  }
}

@media (min-width: 768px) {
  .navigation.active ~ .footer {
    filter: contrast(0.05);
  }
}

@media (min-width: 768px) and (min-width: 1170px) {
  .navigation.active ~ .footer {
    filter: none;
  }
}

@media (min-width: 768px) {
  .navigation.active ~ .header {
    filter: contrast(0.05);
  }
}

@media (min-width: 768px) and (min-width: 1170px) {
  .navigation.active ~ .header {
    filter: none;
  }
}

.navigation__list {
  position: relative;
  display: flex;
  flex-direction: column;
}

.navigation__demo {
  position: relative;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.navigation__demo span {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border: 1px solid #00c2f6;
  border-radius: 5px;
  text-align: center;
  margin-right: 20px;
}

@media (min-width: 1170px) {
  .navigation__demo {
    display: none;
  }
}

.navigation__order {
  position: relative;
  cursor: pointer;
  padding: 15px 20px;
}

@media (min-width: 1170px) {
  .navigation__order {
    display: none;
  }
}

.navigation__item {
  position: relative;
  cursor: pointer;
  padding: 15px 20px;
}

@media (min-width: 1170px) {
  .navigation__item {
    padding: 15px 0;
  }
}

.navlist {
  position: relative;
  display: flex;
  flex-direction: column;
}

.navlist__item {
  position: relative;
  cursor: pointer;
  padding: 15px 20px;
}

.navlist__item:last-child {
  display: none;
}

@media (min-width: 1170px) {
  .navlist__item {
    padding: 15px 0;
  }
}

.navlist--footer {
  margin: 20px 0;
}

.navlist--footer .navlist__item {
  padding: 6px 0;
}

.navlist--footer .navlist__item:last-child {
  display: block;
}

/* ---КОМПОНЕНТ ССЫЛКИ НА СОЦСЕТИ--- */
.social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 7px;
}

.social__link img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .social__link {
    width: 20px;
    height: 20px;
  }
}

/* ---КОМПОНЕНТ КОНТАКТЫ--- */
.contacts {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
  height: 65px;
}

.contacts__phone {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 5px;
  order: 3;
}

.contacts__phone a {
  font-family: "Circe";
  color: #222222;
  font-weight: bold;
  text-decoration: none;
  font-size: 23px;
  color: #101010;
}

@media (min-width: 768px) {
  .contacts__phone {
    margin-right: 10px;
    margin-left: auto;
  }
}

.contacts__social {
  position: relative;
  display: flex;
  align-items: center;
  order: 4;
}

@media (min-width: 768px) {
  .contacts__social {
    margin-right: 40px;
  }
}

.contacts--footer {
  justify-content: flex-start;
  height: 55px;
  width: 100%;
}

.contacts--footer a {
  color: white;
}

@media (min-width: 768px) {
  .contacts--footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0 30px;
    max-width: 175px;
  }
  .contacts--footer .social {
    margin-left: -7px;
  }
  .contacts--footer .contacts__phone {
    margin: 0;
  }
  .contacts--footer .contacts__social {
    margin: 0;
  }
}

@media (min-width: 1170px) {
  .contacts--footer {
    margin: 0 5px;
  }
  .contacts--footer .contacts__tophone {
    font-size: 27px;
  }
  .contacts--footer .social__link {
    width: 25px;
    height: 25px;
  }
}

/* ---КОМПОНЕНТ БУРГЕР--- */
.burger {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 20px;
}

.burger__line {
  position: relative;
  width: 100%;
  height: 2px;
  background: #101010;
  border-radius: 1px;
}

/* ---КОМПОНЕНТ РЕШЕНИЯ--- */
.decision {
  position: relative;
  max-width: 201px;
  font-size: 13px;
  font-family: "Acrom";
  font-weight: 300;
  color: #101010;
}

.decision:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  left: -12px;
  width: 1px;
  height: 75%;
  background: rgba(16, 16, 16, 0.2);
}

@media (min-width: 768px) {
  .decision {
    max-width: 130px;
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  .decision:before {
    opacity: 1;
  }
  .decision span:nth-child(1) {
    display: none;
  }
  .decision span:nth-child(2) {
    text-transform: capitalize;
  }
  .decision span:nth-child(3) {
    white-space: nowrap;
  }
}

@media (min-width: 1170px) {
  .decision {
    display: block;
    max-width: 220px;
  }
  .decision span:nth-child(1) {
    display: inline;
  }
  .decision span:nth-child(2) {
    text-transform: lowercase;
  }
}

.decision--footer {
  color: white;
  max-width: 165px;
}

.decision--footer span:nth-child(1) {
  display: none;
}

.decision--footer span:nth-child(2) {
  text-transform: capitalize;
}

.decision--footer span:nth-child(3) {
  white-space: nowrap;
}

.decision--footer:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  left: -15px;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

@media (min-width: 768px) {
  .decision--footer {
    display: none;
  }
}

.download {
  position: relative;
  display: flex;
  flex-direction: column;
}

.download__item {
  margin: 10px 0;
}

.download__item a {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.download__item img {
  position: relative;
  width: 25px;
  margin-right: 15px;
}

.download__item .download__text {
  position: relative;
  font-size: 14px;
  font-family: "Acrom";
  line-height: 24px;
}

.download__item .download__text:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  transition: all 0.4s;
}

@media (min-width: 1170px) {
  .download__item .download__text {
    font-size: 15px;
  }
}

.download__windows .download__text:after {
  background: #1f3c47;
}

.download__windows:hover .download__text:after {
  background: #4e96b2;
}

.download__android .download__text:after {
  background: #224926;
}

.download__android:hover .download__text:after {
  background: #54b05e;
}

/* ---КОМПОНЕНТ ЗАКАЗЫ--- */
.order {
  display: flex;
  align-items: center;
  color: #00c2f6;
}

.order span {
  padding-left: 5px;
}

/* ---HEADER--- */
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  flex: 1 0 auto;
  background: white;
  order: 1;
  transition: filter .4s;
}

.header__content {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

@media (min-width: 768px) {
  .header__content {
    flex-direction: row;
  }
}

@media (min-width: 1170px) {
  .header__content {
    position: relative;
    width: 1170px;
    margin: auto;
  }
}

.header__info {
  position: relative;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header__info {
    justify-content: flex-start;
    height: 80px;
  }
}

.header__contacts {
  position: relative;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header__contacts {
    justify-content: flex-end;
    height: 80px;
  }
}

.header__logo {
  position: relative;
  width: 130px;
  height: 65px;
  order: 1;
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 100%;
}

@media (min-width: 768px) {
  .header__logo {
    margin-right: 12px;
    width: 140px;
    height: 80px;
  }
}

.header__line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 65px;
  height: 1px;
  width: 100vw;
  background: rgba(16, 16, 16, 0.2);
}

@media (min-width: 768px) {
  .header__line {
    display: none;
  }
}

.header__title {
  position: relative;
  order: 2;
}

.header__demo {
  position: relative;
  display: none;
  order: 19;
  align-items: center;
}

.header__demo span {
  position: relative;
  padding: 0 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: 100%;
  height: 40px;
  border: 1px solid #00c2f6;
  border-radius: 5px;
  text-align: center;
}

@media (min-width: 1170px) {
  .header__demo {
    display: flex;
  }
}

.header__burger {
  position: relative;
  justify-self: flex-end;
  margin-left: 20px;
  order: 10;
}

@media (min-width: 1170px) {
  .header__burger {
    display: none;
  }
}

.header__navigation {
  position: relative;
  width: 100%;
  order: 20;
}

/* ---ПОДВАЛ СТРАНИЦЫ--- */
.content {
  position: relative;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  transition: filter .4s;
}

@media (min-width: 768px) {
  .content {
    padding-top: 80px;
  }
}

@media (min-width: 1170px) {
  .content {
    padding-top: 135px;
  }
}

footer {
  position: relative;
  background-color: #222222;
  color: white;
  flex: 0 0 auto;
  overflow: hidden;
}

.footer {
  position: relative;
  display: flex;
  color: white;
  transition: filter .4s;
}

.footer__content {
  position: relative;
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  margin: 35px auto 15px;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .footer__content {
    max-width: none;
    margin: 25px 15px 15px;
    padding: 0;
    padding-bottom: 150px;
  }
}

@media (min-width: 1170px) {
  .footer__content {
    position: relative;
    width: 1170px;
    margin: 55px auto;
    padding-bottom: 75px;
  }
}

.footer__info {
  position: relative;
  width: 100%;
  max-width: 345px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  position: relative;
  width: 145px;
  height: 65px;
  display: flex;
  align-items: center;
}

.footer__logo img {
  width: 100%;
}

@media (min-width: 768px) {
  .footer__logo {
    width: 155px;
    height: 80px;
  }
}

@media (min-width: 1170px) {
  .footer__logo {
    width: 170px;
    height: 80px;
  }
}

.footer__contacts {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .footer__contacts {
    justify-content: flex-end;
    margin-top: -40px;
  }
}

@media (min-width: 1170px) {
  .footer__contacts {
    justify-content: flex-start;
    left: 25%;
    margin-top: -40px;
  }
}

.footer__navlist {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.footer__navlist .navlist__item:first-child {
  display: none;
}

@media (min-width: 768px) {
  .footer__navlist {
    display: flex;
  }
}

@media (min-width: 1170px) {
  .footer__navlist {
    left: 0;
    margin-left: 55%;
    transform: none;
  }
}

.footer__address {
  position: relative;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .footer__address {
    margin-top: -10px;
  }
}

@media (min-width: 1170px) {
  .footer__address {
    margin-left: 25%;
    margin-top: 5px;
  }
}

.footer__company {
  position: absolute;
  display: none;
}

@media (min-width: 768px) {
  .footer__company {
    display: inline;
    left: 0;
    top: 210px;
    margin-left: 5px;
    font-size: 14px;
    font-family: "Acrom";
    color: #919191;
  }
}

@media (min-width: 1170px) {
  .footer__company {
    top: 95px;
    margin-left: 0;
    font-size: 15px;
  }
}

.footer__download {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .footer__download {
    justify-content: flex-end;
    margin-top: -40px;
  }
}

@media (min-width: 1170px) {
  .footer__download {
    position: absolute;
    top: 55px;
    right: 0;
  }
}

.footer__access {
  position: relative;
  height: 75px;
}

@media (min-width: 768px) {
  .footer__access {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
  }
  .footer__access::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: calc(25px + 100%);
    height: 1px;
    content: "";
    background: #313131;
  }
}

@media (min-width: 1170px) {
  .footer__access {
    position: absolute;
    top: 180px;
    width: 47.5%;
  }
  .footer__access::before {
    display: none;
  }
}

.address {
  position: relative;
  display: flex;
  flex-direction: column;
}

.address__title {
  font-size: 14px;
  font-family: "Acrom";
  color: #929292;
  margin: 0;
}

.address span {
  font-size: 14px;
  font-family: "Acrom";
  color: white;
  line-height: 28px;
}

@media (min-width: 768px) {
  .address {
    max-width: 210px;
    margin-left: 5px;
  }
  .address span {
    line-height: 20px;
  }
  .address__title {
    margin-bottom: 5px;
  }
}

@media (min-width: 1170px) {
  .address {
    max-width: 240px;
  }
  .address__title {
    font-size: 15px;
  }
  .address span {
    font-size: 15px;
  }
}

.access {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 7px 0 7px 37px;
}

.access__politic {
  position: relative;
  font-size: 14px;
  font-family: "Acrom";
  line-height: 24px;
}

.access__politic:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: #313131;
  transition: all 0.4s;
}

.access__created {
  position: relative;
  font-size: 14px;
  font-family: "Acrom";
  color: #6dc1f4;
  line-height: 24px;
  display: none;
}

@media (min-width: 768px) {
  .access__created {
    display: block;
  }
}

@media (min-width: 768px) {
  .access {
    margin: auto;
    justify-content: space-between;
  }
}

@media (min-width: 1170px) {
  .access__politic {
    order: 2;
    font-size: 15px;
  }
  .access__created {
    order: 1;
    font-size: 15px;
  }
}
