section.section.preview
	.preview__slider
		.previewSlick
			.previewSlick__item
				include ./_previewFree
			.previewSlick__item
				include ./_previewFree
			.previewSlick__item
				include ./_previewFree