section.section.advantages.animated.fadeIn
	.advantages__content
		.advantages__items
			.advantages__item
				.advantages__img
					img(src="./img/advantages_gear.png", alt="Unique")
				.advantages__text
					h3.advantages__title Уникальность
					span.advantages__desc Уникальная CRM для вендинг компаний с широчайшим спектром отчетов и современным личным кабинетом
					span.advantages__advanced Уникальная CRM для вендинг компаний с широчайшим спектром отчетов и современным личным кабинетом для всех устройств
			.advantages__item
				.advantages__img
					img(src="./img/advantages_computer.png", alt="Control")
				.advantages__text 
					h2.advantages__title Контроль
					span.advantages__desc Полный контроль за автоматами 24/7 с хранением данных на своем сервере
			.advantages__item
				.advantages__img
					img(src="./img/advantages_machine.png", alt="Equipment")
				.advantages__text
					h2.advantages__title Любое оборудование
					span.advantages__desc Весь спектр оборудования от кассы до GSM модуля
			