section.section.about.animated.fadeIn
	h2.about__title О компании
	.about__content
		.about__items
			.about__item
				.about__heading
					.about__img
						img(src="./img/about_lineal.png", alt="logo")
					h3.about__name Многолетний опыт
				.about__text
					span.about__desc Венд-Аналитика присутствует на рынке с 2011 года. Функционал нашей системы постоянно расширяется, в том числе благодаря обратной связи от наших партнеров и клиентов - вендинговых компаний из России и ближнего зарубежья.
			.about__item
				.about__heading
					.about__img
						img(src="./img/about_diamond.png", alt="logo")
					h3.about__name Уникальность
				.about__text
					span.about__desc Наша CRM не имеет аналогов на рынке, кроме стандартных отчетов и полного контроля за расходами мы помогаем нашим клиентам строить уникальные отчеты и получать статистику в самых сложных разрезах, без привлечения программистов и подключения сторонних дорогостоящих систем.
			.about__item
				.about__heading
					.about__img
						img(src="./img/about_chat.png", alt="logo")
					h2.about__name Помощь в интеграции
				.about__text
					span.about__desc Легкая интеграция с популярными системами учета (1С и т.д.) поможет вашим сотрудникам легко овладеть необходимыми инструментами, а наши специалисты с удовольствием обучат вас навыкам работы и ответят на вопросы по оборудованию и ПО, необходимому для работы.
			.about__item
				.about__heading
					.about__img
						img(src="./img/about_network.png", alt="logo")
					h2.about__name Удобное размещение ПО
				.about__text
					span.about__desc Отличительной особенностью Венд-Аналитики является возможность для любой компании развернуть серверное ПО в своем офисе и стать полностью независимой от поставщика решения, в том числе исключить из эксплуатационных расходов абонентскую плату.