section.section.reviews.animated.fadeIn
	h2.reviews__title 
		span Наши 
		span Довольные 
		span клиенты
	.reviews__slider
		.reviewsSlick
			+review(
				'',
				'Сергей Альковский',
				'Коммерческий директор ООО “Кофе и снэки”, 25 автоматов в Москве',
				1,
				'Мы долго выбирали для нашей сети и аппаратуру и программную оболочку для обслуживания. Все игроки на рынке предлагают примерно тот же набор в комплексе с примерно равной стоимостью обслуживания за автомат. Выбрали Венд-лаб и предложение от них внимательно сравнив CRM. Удобно, быстро “прокинули” её к своей 1 Ске. Сейчас зреем к установке своего сервера в офисе, получится порядочная экономия, практически будем платить за SMS')
			+review(
				'',
				'Сергей Альковский',
				'Коммерческий директор ООО “Кофе и снэки”, 25 автоматов в Москве',
				2,
				'Мы долго выбирали для нашей сети и аппаратуру и программную оболочку для обслуживания. Все игроки на рынке предлагают примерно тот же набор в комплексе с примерно равной стоимостью обслуживания за автомат. Выбрали Венд-лаб и предложение от них внимательно сравнив CRM. Удобно, быстро “прокинули” её к своей 1 Ске. Сейчас зреем к установке своего сервера в офисе, получится порядочная экономия, практически будем платить за SMS')
			+review(
				'',
				'Сергей Альковский',
				'Коммерческий директор ООО “Кофе и снэки”, 25 автоматов в Москве',
				3,
				'Мы долго выбирали для нашей сети и аппаратуру и программную оболочку для обслуживания. Все игроки на рынке предлагают примерно тот же набор в комплексе с примерно равной стоимостью обслуживания за автомат. Выбрали Венд-лаб и предложение от них внимательно сравнив CRM. Удобно, быстро “прокинули” её к своей 1 Ске. Сейчас зреем к установке своего сервера в офисе, получится порядочная экономия, практически будем платить за SMS')