section.section.news.animated.fadeIn
	.news__content
		h2.news__title Новости
		.news__all 
			a(href='').news__allText Смотреть все новости
			.news__allImg 
				img(src="./templates/default/images/news_arrow.png", alt="arrow")
		.news__items
			.article
				.article__image
					img(src="./templates/default/images/news_webinar.jpg", alt="webinar")
				h5.article__name
					.article__nameMain Приглашаем на вебинар "Аналитика 2.0"
					.article__nameAdd и еще какой-то текст
				.article__date 24 сентября 2020
			.article
				.article__image
					img(src="./templates/default/images/news_exhibition.jpg", alt="webinar")
				h5.article__name
					.article__nameMain Выставка "Вендинг 2020" в Манеже
					.article__nameAdd 
				.article__date 22 марта 2020
			.article
				.article__image
					img(src="./templates/default/images/news_webinar.jpg", alt="webinar")
				h5.article__name
					.article__nameMain Приглашаем на вебинар "Аналитика 2.0"
					.article__nameAdd и еще какой-то текст
				.article__date 24 сентября 2020
			.article
				.article__image
					img(src="./templates/default/images/news_exhibition.jpg", alt="webinar")
				h5.article__name
					.article__nameMain Выставка "Вендинг 2020" в Манеже
					.article__nameAdd 
				.article__date 22 марта 2020
			
			