section.section.partners.animated.fadeIn
	.partners__content
		//- .partners__button
			img(src="./templates/default/images/partners_arrow.png", alt="arrow")
		.partners__items
			.partner
				.partner__logo
					img(src="./upload/images/partners-slider/partners_1.png", alt="partners_1")
			.partner
				.partner__logo
					img(src="./upload/images/partners-slider/partners_2.png", alt="partners_2")
			.partner
				.partner__logo
					img(src="./upload/images/partners-slider/partners_1.png", alt="partners_1")
			.partner
				.partner__logo
					img(src="./upload/images/partners-slider/partners_2.png", alt="partners_2")
			.partner
				.partner__logo
					img(src="./upload/images/partners-slider/partners_1.png", alt="partners_1")
			.partner
				.partner__logo
					img(src="./upload/images/partners-slider/partners_2.png", alt="partners_2")
		//- .partners__button
			img(src="./templates/default/images/partners_arrow.png", alt="arrow")