.download
	.download__windows.download__item
		a(href="#")
			img(src="./templates/default/images/footer/windows.png", alt="windows")
			span.download__text Скачать для Windows
	.download__item.download__android
		a(href="#")
			img(src="./templates/default/images/footer/android.png", alt="android")
			span.download__text Скачать для Android