nav.navigation
	.navigation__content
		.navigation__demo.navigation--botline
			span.hvr-grow Демо-доступ
			.navigation__close#nav-close +
		.navigation__order.hvr-grow.navigation--botline
			include ./_order
		ul.navigation__list
			li.navigation__item.navigation--botline Главная
			li.navigation__item.navigation--botline О компании
			li.navigation__item.navigation--botline Система и компоненты CRM
			li.navigation__item.navigation--botline Вендинг аналитика
			li.navigation__item.navigation--botline Тарифы и цены
			li.navigation__item.navigation--botline Полезная информация