nav.navigation.blur--call
	.navigation__content
		.navigation__demo.navigation--botline
			span.hvr-shadow-radial Демо-доступ
			.navigation__close#nav-close +
		.navigation__order.navigation--botline
			include ./_order
		.navigation__list
			+navlist