.previewFree
	.previewFree__bg
		.previewFreeImg
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 450")
				polygon(points="297,449 181,449 3,1 146,1 241,257 333,1 477,1 ")
			img(src="./templates/default/images/main_pic_small.jpg", alt="main")
	.previewFree__content
		h1.previewFree__title <strong>Бесплатное</strong> использование телеметрии 3 месяца
		.previewFree__subtitle Купи Венданалитику и используй 3 месяца. Не понравится - вернем деньги!
		.previewFree__more
			img(src="./templates/default/images/info.png", alt="info")
			span Дополнительная информация
			svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 14")
				path(d="M0 0, L10 7, L20 0")
		.previewFree__text.animated.fadeIn (смс оплачиваются отдельно) Условие по возврату - установка всех компелктов, активное использование, сохранность оборудования.
		button.previewFree__get Получить предложение